In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('../data/raw/train.csv')

C:\Users\bert_\AppData\Local\Temp\ipykernel_8412\4229903785.py:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/raw/train.csv')

In [4]:
df.head()

,team,conf,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,DRB_per,...,dgbpm,oreb,dreb,treb,ast,stl,blk,pts,player_id,drafted
0,South Alabama,SB,26,29.5,97.3,16.6,42.5,44.43,1.6,4.6,...,-1.941150,0.1923,0.6154,0.8077,1.1923,0.3462,0.0385,3.8846,b2716b2d-3422-4959-9fe7-fe496414a4e8,0.0
1,Utah St.,WAC,34,60.9,108.3,14.9,52.4,54.48,3.8,6.3,...,-0.247934,0.6765,1.2647,1.9412,1.8235,0.4118,0.2353,5.9412,bb387960-e3a0-4ffd-96ae-184bad07cb8a,0.0
2,South Florida,BE,27,72.0,96.2,21.8,45.7,47.98,2.1,8.0,...,-0.883163,0.6296,2.3333,2.9630,1.9630,0.4815,0.0000,12.1852,89bbdf11-eadd-4de4-95e5-03f7e2874aa1,0.0
3,Pepperdine,WCC,30,44.5,97.7,16.0,53.6,53.69,4.1,9.4,...,-0.393459,0.7000,1.4333,2.1333,1.1000,0.5667,0.1333,4.9333,0c87ada8-8446-4ea2-a05b-bd07aed5f37a,0.0
4,Pacific,BW,33,56.2,96.5,22.0,52.8,54.31,8.3,18.6,...,-0.668318,1.4242,3.3030,4.7273,0.8485,0.4545,0.3333,7.5758,84661e00-ad20-4308-817e-efa8da52a86c,0.0

In [5]:
df.shape

(46618, 64)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46618 entries, 0 to 46617
Data columns (total 64 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   team                 46618 non-null  object
 1   conf                 46618 non-null  object
 2   GP                   46618 non-null  int64
 3   Min_per              46618 non-null  float64
 4   Ortg                 46618 non-null  float64
 5   usg                  46618 non-null  float64
 6   eFG                  46618 non-null  float64
 7   TS_per               46618 non-null  float64
 8   ORB_per              46618 non-null  float64
 9   DRB_per              46618 non-null  float64
 10  AST_per              46618 non-null  float64
 11  TO_per               46618 non-null  float64
 12  FTM                  46618 non-null  int64
 13  FTA                  46618 non-null  int64
 14  FT_per               46618 non-null  float64
 15  twoPM                46618 non-null  int64
 16  twoPA                46618 non-null  int64
 17  twoP_per             46618 non-null  float64
 18  TPM                  46618 non-null  int64
 19  TPA                  46618 non-null  int64
 20  TP_per               46618 non-null  float64
 21  blk_per              46618 non-null  float64
 22  stl_per              46618 non-null  float64
 23  ftr                  46618 non-null  float64
 24  yr                   46326 non-null  object
 25  ht                   46554 non-null  object
 26  num                  41939 non-null  object
 27  porpag               46618 non-null  float64
 28  adjoe                46618 non-null  float64
 29  pfr                  46618 non-null  float64
 30  year                 46618 non-null  int64
 31  type                 46618 non-null  object
 32  Rec_Rank             14337 non-null  float64
 33  ast_tov              43151 non-null  float64
 34  rimmade              40860 non-null  float64
 35  rimmade_rimmiss      40860 non-null  float64
 36  midmade              40860 non-null  float64
 37  midmade_midmiss      40860 non-null  float64
 38  rim_ratio            38119 non-null  float64
 39  mid_ratio            38050 non-null  float64
 40  dunksmade            40860 non-null  float64
 41  dunksmiss_dunksmade  40860 non-null  float64
 42  dunks_ratio          20400 non-null  float64
 43  pick                 1207 non-null   float64
 44  drtg                 46576 non-null  float64
 45  adrtg                46576 non-null  float64
 46  dporpag              46576 non-null  float64
 47  stops                46576 non-null  float64
 48  bpm                  46576 non-null  float64
 49  obpm                 46576 non-null  float64
 50  dbpm                 46576 non-null  float64
 51  gbpm                 46576 non-null  float64
 52  mp                   46582 non-null  float64
 53  ogbpm                46576 non-null  float64
 54  dgbpm                46576 non-null  float64
 55  oreb                 46582 non-null  float64
 56  dreb                 46582 non-null  float64
 57  treb                 46582 non-null  float64
 58  ast                  46582 non-null  float64
 59  stl                  46582 non-null  float64
 60  blk                  46582 non-null  float64
 61  pts                  46582 non-null  float64
 62  player_id            46618 non-null  object
 63  drafted              46618 non-null  float64
dtypes: float64(49), int64(8), object(7)
memory usage: 22.8+ MB

In [7]:
df.describe(include='all')

,team,conf,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,DRB_per,...,dgbpm,oreb,dreb,treb,ast,stl,blk,pts,player_id,drafted
count,46618,46618,46618.000000,46618.000000,46618.000000,46618.000000,46618.000000,46618.000000,46618.000000,46618.000000,...,46576.000000,46582.000000,46582.000000,46582.000000,46582.000000,46582.000000,46582.000000,46582.000000,46618,46618.000000
unique,355,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20377,NaN
top,Army,A10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2336a719-c648-440c-821d-32fb0d9760bf,NaN
freq,176,1880,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN
mean,NaN,NaN,23.542988,37.339013,91.784360,18.164578,44.424392,47.571397,5.654071,12.575102,...,-0.463778,0.778630,1.867124,2.645755,1.066943,0.527743,0.283606,5.732429,NaN,0.009524
std,NaN,NaN,10.076829,28.019801,30.235568,6.181982,18.026404,17.217909,9.985025,11.041089,...,3.303826,0.745045,1.464894,2.096319,1.170469,0.469654,0.422755,4.942544,NaN,0.097127
min,NaN,NaN,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-100.984000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000
25%,NaN,NaN,17.000000,9.600000,83.900000,14.600000,40.000000,43.770000,1.900000,8.400000,...,-1.747553,0.228600,0.681800,1.000000,0.217400,0.157900,0.000000,1.538500,NaN,0.000000
50%,NaN,NaN,28.000000,35.900000,97.000000,18.100000,47.500000,50.720000,4.500000,11.800000,...,-0.335180,0.550000,1.600000,2.235300,0.666700,0.419400,0.131600,4.428600,NaN,0.000000
75%,NaN,NaN,31.000000,62.200000,106.800000,21.800000,53.000000,55.947500,8.200000,15.900000,...,1.048375,1.129000,2.724100,3.806500,1.529000,0.793100,0.366700,9.033050,NaN,0.000000
max,NaN,NaN,41.000000,98.000000,834.000000,50.000000,150.000000,150.000000,1576.600000,1385.000000,...,78.985500,5.933300,11.545500,14.533300,10.000000,4.000000,5.258100,29.968800,NaN,1.000000

In [8]:
df_cleaned = df.copy()